
* {
    bg0:    #1e1e2e;   // nền chính
    bg1:    #313244;   // nền phụ
    bg2:    #45475a;   // nền nhấn
    bg3:    #89b4fa;   // accent xanh
    fg0:    #cdd6f4;   // chữ chính
    fg1:    #ffffff;   // trắng sáng
    fg2:    #a6adc8;   // chữ phụ
    fg3:    #585b70;   // chữ xám
}

@import "template/rounded-template.rasi"
